/*linkin in fonts*/
@font-face {
  font-family: Avenir-black;
  src: url(../fonts/Avenir-black.otf);
  font-weight: bold;
}

@font-face {
  font-family: Avenir-medium;
  src: url(../fonts/Avenir-medium.otf);
  font-weight: medium;
}

body {
  background-color: #05232D;
  background-image: url(../img/grid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1500px auto;
  width: full-width;
  height: auto;
  margin: 0 auto;
}

img {
  float: left;
}

.books {
  width: 280px;
  height: auto;
  object-position: ;
}

.calendar {
  width: 280px;
  height: auto;
  object-position: ;
}

.graphicpen {
  width: 200px;
  height: auto;
  object-position: ;
}

.graphictablet {
  width: 304px;
  height: auto;
  object-position: ;
}

.macbook {
  width: 502px;
  height: auto;
  object-position: -30px -10px;
}

.mug {
  width: 130px;
  height: auto;
  object-position: ;
}

.notebook {
  width: 340px;
  height: auto;
  object-position: ;
}

.penpot {
  width: 120px;
  height: auto;
  object-position: ;
}

.phone {
  width: 435px;
  height: auto;
  object-position: ;
}

.plant {
  width: 134px;
  height: auto;
  object-position: ;
}

.rubber {
  width: 82px;
  height: auto;
  object-position: ;
}

.title {
  width: 402px;
  height: auto;
  object-position: ;
}


/*place the navbar at the bottom of the page and make it stick*/
nav {
  bottom: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

/*removing styling*/
nav a {
  color: white;
  display: block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-family: Avenir-medium;
}

/*float navbar to right*/
nav ul {
  float: right;
}

/*styling the links in the navigation bar*/
nav li {
  float: left;
  list-style-type: none;
  margin-right: 10px 0 0 0;
  padding: 30px 20px;
  text-transform: uppercase;
}
